{% load crispy_forms_tags %} 
{% include 'navbar.html' %}
{% load static %}
<!doctype html>

<form method = "POST" enctype='multipart/form-data'> 
{% csrf_token %}
    <div class="container">
      {% for message in messages  %}
        {% if 'add_item' in message.tags %}
            <p style ="color: red">{{message}}</p>
        {% elif 'add_fail' in message.tags %}
        <p style ="color: red">Przedmiot o tym adresie już istnieje.</p>
        {% endif %}
      {% endfor %}
      {{form|crispy}}
      <input type="submit" value="Dodaj">
    </div>
</form>