{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Items Table</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Img</th>
                <th>Nazwa</th>
                <th>Cena docelowa</th>
                <th>Cena startowa</th>
            </tr>item.target_price
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td><a href ="{{item.link}}" target="_blank"><img src ="{{item.img.url}}" style="width: 150px; height: 150px;"></a></td>
                <td>{{ item.name }}</td>
                <form action="" method="POST">
                    {% csrf_token %}
                <td><p><input type="text" name="price_{{ item.id }}" value="{{ item.target_price }}"></p>
                <p> <button type="submit"  value="{{ item.id }}">Aktualizuj</button></p>
                </td>
            </form>
                <td>{{ item.current_price }}</td>
                <td><form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="deactivate_{{ item.id }}" value="{{ item.id }}">
                    <button type="submit">Dezaktywuj</button>
                </form>
            </td>
    

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>